<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <connectionStrings>
        <add name="AzureConnection" connectionString="Server=tcp:qgtejfd89g.database.windows.net,1433;Database=db_newton;User ID=grupp4@qgtejfd89g;Password=Newtong4;Trusted_Connection=False;Encrypt=True;Connection Timeout=5;"
            providerName="System.Data.SqlClient" />
        <add name="DBConnection"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>